*{
    margin: 0;padding: 0;
}
#letters-you-have-box{
	/* column-count: 8; */
}

.letter{
	margin-top: -28px;
    margin-left: -10px;
    font-size: 5.2em;
}
.point{
    margin-top: -115px;
    margin-left: 50px;
    
    font-size: 1.8em;
}

.tile-piece {
    border-radius: 15px;
    background-repeat: repeat;
    padding: 20px; 
    width: 50px;
    height: 50px;
    margin: 10px;
}


.tile-piece-1 {
    background: url(../img/red-oak.jpg);
    background-position: left top;
}

.tile-piece-2 {
    background: url(../img/red-oak.jpg);
    background-position: right top;
}
.tile-piece-3 {
    background: url(../img/red-oak.jpg);
    background-position: left bottom;
}
.tile-piece-4 {
    background: url(../img/red-oak.jpg);
    background-position: right bottom;
}

.letter-I{
	margin-left: 10px;
}
.letter-J{
	margin-left: 8px;
}
.letter-P{
	margin-left: 3px;
}
.letter-M{
	margin-left: -15px;
}
.letter-N{
	margin-left: -7px;
}
.letter-W{
	margin-left: -14px;
}
.letter-S{
	margin-left: -2px;
}
.letter-F{
	margin-left: -2px;
}
.letter-_ {
	margin-left: -5px;
}
.letter-E {
	margin-left: -6px;
}
.letter-T{
	margin-left: -4px;
}
.letter-R{
	margin-left: -6px;
}.letter-Q{
	margin-left: -12px;
}
.letter-L{
	margin-left: -4px;
}
.points-10{
	margin-left: 40px;
}
#layout{
    width: 960px;margin: 0 auto;text-align: center;padding: 20px 0;
}
#layout h1{
    font-size: 40px;
}
.mt20{
    margin-top: 20px;
}
.mt10{
    margin-top: 10px;
}
#find-word-button{
    margin-right: 20px;
}
#layout table{
    margin-left: 80px;
}
.ml10{
    margin-left: 10px;
}
#word-history-list{
    list-style-type:decimal;
}
#score-box{
    font-size: 20px;
}
#human-word-input{
    width: 200px;height: 30px;text-indent: 6px;
}
.btn{
    background-color:#2DA5FB;height: 32px;border: none;color: #fff;cursor: pointer;padding: 0 8px;font-size: 16px;border-radius: 3px;
}
#word-history-list{
    text-align: left;padding: 0 110px;font-size: 18px;line-height: 1.5
}
